@{
    ViewData["Title"] = "Error when generating order summary";
}

<div class="container">
    <section id="section-banner">
        <h2>@ViewData["Title"]</h2>
        <p>We have experienced issues creating your order summary. Please try again and if issues persist please contact us.</p>
        <p><a asp-controller="CMS" asp-action="RequestOrderSummary">Back to Request order summary page</a>.</p>
    </section>
</div>
