<section id="section-cms">
    <div class="container">
        @await Html.PartialAsync("_AdminLinks")
        <section class="cms-area">
            <h2>Content Management System</h2>
            <div>
                <h3 style="color:darkseagreen">@ViewData["Msg"]</h3>
                <div>
                    <h3>Orders</h3>
                    <ul>
                        <li><a class="link-dark rounded" asp-controller="CMS" asp-action="ViewAllOrders">View Orders</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Promotions</h3>
                    <ul>
                        <li><a class="link-dark rounded" asp-controller="Inventory" asp-action="ViewPromotions">View Promotions</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Products</h3>
                    <ul>
                        <li><a class="link-dark rounded" asp-controller="Product" asp-action="AddProduct">Add Product</a></li>
                        <li><a class="link-dark rounded" asp-controller="Inventory" asp-action="Index">Edit Products</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Brands</h3>
                    <ul>
                        <li><a class="link-dark rounded" asp-controller="Inventory" asp-action="AddBrand">Add Brand</a></li>
                        <li><a class="link-dark rounded" asp-controller="Inventory" asp-action="ViewBrands">Edit Brands</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Categories</h3>
                    <ul>
                        <li><a class="link-dark rounded" asp-controller="Inventory" asp-action="AddCategory">Add Category</a></li>
                        <li><a class="link-dark rounded" asp-controller="Inventory" asp-action="ViewCategories">Edit Categories</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Users</h3>
                    <ul>
                        <li><a class="link-dark rounded" asp-controller="Account" asp-action="MyAccount">My Account</a></li>
                        <li><a class="link-dark rounded" asp-controller="Account" asp-action="RoleManage">Manage Roles</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Home Page</h3>
                    <ul>
                        <li><a class="link-dark rounded" asp-controller="Home" asp-action="Index">View Homepage</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>
