@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h2>Content Management System</h2>
    <div class="row">
        @await Html.PartialAsync("_AdminLinks")
        <div class="col-9">
            <div class="card">
                <h3 class="card-header">Users</h3>
                <ul class="card-body">
                    <li><a asp-controller="" asp-action="">Manage Roles</a></li>
                </ul>
            </div>
            <div class="card">
                <h3>Products</h3>
                <ul class="card-body">
                    <li><a class="link-dark rounded" asp-controller="Product" asp-action="AddProduct">Add Product</a></li>
                    <li><a class="link-dark rounded" asp-controller="Inventory" asp-action="Index">Edit Products</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>