@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="side-bar">
                <ul class="side-bar-list">
                    <li class="side-bar-item"><a>Manage Products</a></li>
                    <li class="side-bar-item"><a>Manage User Accounts</a></li>
                    <li class="side-bar-item"><a>Manage Orders</a></li>
                    <li class="side-bar-item"><a>Promotions</a></li>
                    <li class="side-bar-item"><a>Sales Statistics</a></li>
                </ul>
            </div>
        </div>
        <div class="col-10" id="main-place">

        </div>
    </div>
</div>