<section id="section-cms">
    <div class="container">
        @await Html.PartialAsync("_AdminLinks")
        <section class="cms-area">
            <h2>Generate Order Summary</h2>
            <div>
                Content here.
            </div>
        </section>
    </div>
</section>
