.column-row {
    background-color: #f3cabc;
    padding-bottom: 30px;
}

h5{
    font-weight: bold;
}

.contact-info {
    background-color: #fff9fb;
    margin-bottom: 10px;
}

.info-submit {
    margin-top: 20px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #f3cabc;
}

.btn-primary{
    margin-left: 20px;
}