.space {
    padding-top: 3px;
    background-color: black;
    width: 40%;
    margin-bottom: 10px;
}

button {
    width: 100%;
    height: 40px;
    margin-top: 25px;
    border: none;
    background-color: white;
    border: black;
    border-style: solid;
}

    button:hover {
        background-color: #adadad;
        border-color: #dbd9d9;
    }

h3 {
    font-weight: 600;
}

.quan-val {
    margin-left: 70%;
    font-weight: bold;
}

.quan-text {
    font-weight: bold;
}

.price-val {
    margin-left: 60%;
    font-weight: bold;
}

.price-text {
    font-weight: bold;
}
