
<div class="container">
    <section id="section-recommended">
        <h3>Recommended Fragrances</h3>
        <hr />
        <div class="product-list">
            <div class="recommended-card">
                <div class="info">
                    <h4>Dynamic Item 1</h4>
                    <p>Dynamic Item Brand</p>
                    <p>Fragrance for Gender</p>
                    <p>EDX XXXml</p>
                    <p class="cta">
                        <span class="price">Rs. 0000</span>
                        <button class="sdp-style">Shop Now</button>
                    </p>
                </div>
                <img src="~/images/product/nina-ricci-luna-edt-50ml.jpg">
            </div>
            <div class="recommended-card">
                <div class="info">
                    <h4>Dynamic Item 2</h4>
                    <p>Dynamic Item Brand</p>
                    <p>Fragrance for Gender</p>
                    <p>EDX XXXml</p>
                    <p class="cta">
                        <span class="price">Rs. 0000</span>
                        <button class="sdp-style">Shop Now</button>
                    </p>
                </div>
                <img src="~/images/product/benetton-colors-de-benetton-blue-edt-50ml.jpg">
            </div>
            <div class="recommended-card">
                <div class="info">
                    <h4>Dynamic Item 3</h4>
                    <p>Dynamic Item Brand</p>
                    <p>Fragrance for Gender</p>
                    <p>EDX XXXml</p>
                    <p class="cta">
                        <span class="price">Rs. 0000</span>
                        <button class="sdp-style">Shop Now</button>
                    </p>
                </div>
                <img src="~/images/product/givenchy-irresistible-edt.jpg">
            </div>
        </div>
    </section>
</div>
