@{
    ViewData["Title"] = "Add Article";
}
@model Microsoft.SDP.SDPCore.Models.Article

<section id="section-cms">
    <div class="container">
        @await Html.PartialAsync("_AdminLinks")
        <section class="cms-area">
            <h2>@ViewData["Title"]</h2>
            <form enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>

                @* Field 'title' in its own row. *@
                <div class="mb-4">
                    <label asp-for="title" class="form-label"></label>
                    <input required="required" asp-for="title" class="form-control" maxlength="256" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>

                @* Field 'description' in its own row. *@
                <div class="mb-4">
                    <span class="hint" id="textarea_message"></span>
                    <label asp-for="text" class="form-label"></label>
                    <textarea required="required" asp-for="text" id="message_area" class="form-control message_area"></textarea>
                    <span asp-validation-for="text" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Add Article</button>
            </form>
        </section>
    </div>
</section>

