@{
    ViewData["Title"] = "View Articles";
}
@model IEnumerable<Microsoft.SDP.SDPCore.Models.Article>

<section id="section-cms">
    <div class="container">
        @await Html.PartialAsync("_AdminLinks")
        <section class="cms-area">
            <h2>@ViewData["Title"]</h2>

            <div><a asp-controller="Article" asp-action="AddArticle" class="btn btn-primary">Add Article</a></div>
            <p>To navigate to an article, use the URL suffix '/article/view/{URL Stub}'.</p>
            <form enctype="multipart/form-data" asp-controller="Article" asp-action="EditArticle" method="get">
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>URL Stub</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.title</td>
                                <td><a href="~/article/view/@item.key">@item.key</a></td>
                                <td><button class="btn btn-sm btn-primary" name="key" value="@item.key" type="submit">Edit</button></td>
                            </tr>
                        }
                    </table>
                </div>
            </form>
        </section>
    </div>
</section>
