@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <section id="section-banner">
        <h2>@ViewData["Title"]</h2>
        <p>We're sorry, there has been some trouble reaching the page you have requested.</p>
        <p>Please try again and if the issue re-occurs, feel free to get in touch and we will do our best to resolve the issue.</p>
    </section>
</div>
