@{
    ViewData["Title"] = "Home";
}

<!-- Special Message ====================================================== -->

<div class="container">
    <section id="section-banner">
        <h2>Have you seen these amazing deals?</h2>
        <p>Treat yourself to one of these luxurious discounts with unbeatable value.</p>
        <p>
            <a asp-action="Signup" asp-controller="Account">Create your account now</a>
            to make the most of our prices and specials.
        </p>
    </section>
</div>

<div id="carousel" class="container carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="height: 32rem; width: 100%; background-color: red;"></div>
        </div>
        <div class="carousel-item">
            <div style="height: 32rem; width: 100%; background-color: green;"></div>
        </div>
        <div class="carousel-item">
            <div style="height: 32rem; width: 100%; background-color: blue;"></div>
        </div>
        <div class="carousel-item">
            <div style="height: 32rem; width: 100%; background-color: magenta;"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Categories  ========================================================== -->

<div class="container">
    <section id="category-list">
        <h3>Categories</h3>
        <div id="category-flex">
            <div id="category-item">
                <h4>Womens</h4>
                <img src="~/images/category/category-img-4.JPG" alt="...">
            </div>

            <div id="category-item">
                <h4>Mens</h4>
                <img src="~/images/category/category-img3.JPG" alt="...">
            </div>

            <div id="category-item">
                <h4>All Brands</h4>
                <img src="~/images/category/category-img3.JPG" alt="...">
            </div>

            <div id="category-item">
                <h4>Best Sellers</h4>
                <img src="~/images/category/category-img-4.JPG" alt="...">
            </div>
        </div>
    </section>
</div>

<!-- Recommended ========================================================== -->

<div class="container">
    <section id="section-suggested">
        <h3>Recommended Fragrances</h3>
        <div id="category-flex">
            <div id="fragrance-item">
                <img src="~/images/category/category-img-4.JPG">
                <p class="fragrance-title">1 million</p>
                <p class="fragrance-brand">By Paco Rabanne</p>
            </div>
            <div id="fragrance-item">
                <img src="~/images/category/category-img-4.JPG">
                <p class="fragrance-title">Chrome</p>
                <p class="fragrance-brand">By Azzaro</p>
            </div>
            <div id="fragrance-item">
                <img src="~/images/category/category-img-4.JPG">
                <p class="fragrance-title">Lolita Lempicka</p>
                <p class="fragrance-brand">By Lolita Lempicka</p>
            </div>
            <div id="fragrance-item">
                <img src="~/images/category/category-img-4.JPG">
                <p class="fragrance-title">Montblanc Legend</p>
                <p class="fragrance-brand"> By Mont Blanc</p>
            </div>
        </div>
    </section>
</div>

<script src="~/js/site.js" asp-append-version="true" defer></script>
