@{
    ViewData["Title"] = "Home";
}

<!-- Duplicate <head> and search bar removed. -->

<!-- Special Message ====================================================== -->

<section id="section-banner">
    <div class="container">
        <h2>Have you seen these amazing deals?</h2>
        <p>Treat yourself to one of these luxurious discounts with unbeatable value.</p>
    </div>
</section>

<!-- Categories  ========================================================== -->

<section>
    <div class="container">
        <div>
            <h4>Womens</h4>
            <img src="~/imgs/category-img-4.JPG" alt="...">
        </div>

        <div>
            <h4>Mens</h4>
            <img src="~/imgs/category-img3.JPG" alt="...">
        </div>

        <div>
            <h4>All Brands</h4>
            <img src="~/imgs/category-img3.JPG" alt="...">
        </div>

        <div>
            <h4>Best Sellers</h4>
            <img src="~/imgs/category-img-4.JPG" alt="...">
        </div>
    </div>
</section>

<!-- Recommended ========================================================== -->

<section id="section-suggested">
    <div class="container">
        <h3>Recommended Fragrances</h3>
        <div>
            <div>
                <img src="~/imgs/category-img-4.JPG">
                <p>1 million By Paco Rabanne</p>
            </div>
            <div>
                <img src="~/imgs/category-img-4.JPG">
                <p>Chrome By Azzaro</p>
            </div>
            <div>
                <img src="~/imgs/category-img-4.JPG">
                <p>Lolita Lempicka By Lolita Lempicka</p>
            </div>
            <div>
                <img src="~/imgs/category-img-4.JPG">
                <p>Montblanc Legend By Mont Blanc</p>
            </div>
        </div>
    </div>
</section>

<script>
var productDbJson= @Html.Raw(Json.Serialize(MockDB.MockProductDB));
</script>
<script src="~/js/site.js" asp-append-version="true" defer></script>
