@{
    ViewData["Title"] = "Home";
}

<!-- Banner =============================================================== -->

<div class="container">
    <section id="section-banner">
        <h2>Welcome to SD Perfumery</h2>
        <p>We hope you can find the perfect fragrance to treat yourself or someone you hold close.</p>
        <p>
            Don't miss out on our amazing prices and specials - <a asp-action="Signup" asp-controller="Account">create an account</a>
            and have special offers delivered straight to your inbox.
        </p>
        <p>In need of further assistance? Call us on <a href="tel:001 284 227">001-284-227</a> for help with your order.</p>
    </section>
</div>

<!-- Carousel ============================================================= -->

<div class="container">
    <section id="section-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#section-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#section-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#section-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active"></div>
            <div class="carousel-item"></div>
            <div class="carousel-item"></div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#section-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#section-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </section>
</div>

<!-- Categories =========================================================== -->

<div class="container">
    <section id="section-categories">
        <h3>Categories</h3>
        <hr />
        <div class="category-list">
            <div id="category-card">
                <h4>Dynamic Category 1</h4>
                <img src="~/images/category/category-img-4.JPG" alt="Dynamic Category 1">
            </div>
            <div class="category-card">
                <h4>Dynamic Category 2</h4>
                <img src="~/images/category/category-img3.JPG" alt="Dynamic Category 2">
            </div>
            <div class="category-card">
                <h4>Dynamic Category 3</h4>
                <img src="~/images/category/category-img3.JPG" alt="Dynamic Category 3">
            </div>
            <div class="category-card">
                <h4>Dynamic Category 4</h4>
                <img src="~/images/category/category-img-4.JPG" alt="Dynamic Category 4">
            </div>
        </div>
    </section>
</div>

<!-- Recommended Products ================================================= -->
@await Html.PartialAsync("_RecommendedProducts")

<script src="~/js/site.js" asp-append-version="true" defer></script>
