@{
    ViewData["Title"] = "Home";
}

<!-- Banner =============================================================== -->

<div class="container">
    <section id="section-banner">
        <h2>Have you seen these amazing deals?</h2>
        <p>Treat yourself to one of these luxurious discounts with unbeatable value.</p>
        <p>
            <a asp-action="Signup" asp-controller="Account">Create your account now</a>
            to make the most of our prices and specials.
        </p>
    </section>
</div>

<!-- Carousel ============================================================= -->

<div class="container">
    <section id="section-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#section-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#section-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#section-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active"></div>
            <div class="carousel-item"></div>
            <div class="carousel-item"></div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#section-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#section-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </section>
</div>

<!-- Categories =========================================================== -->

<div class="container">
    <section id="section-categories">
        <h3>Categories</h3>
        <hr />
        <div class="category-list">
            <div id="category-item">
                <h4>Dynamic Category 1</h4>
                <img src="~/images/category/category-img-4.JPG" alt="Dynamic Category 1">
            </div>
            <div id="category-item">
                <h4>Dynamic Category 2</h4>
                <img src="~/images/category/category-img3.JPG" alt="Dynamic Category 2">
            </div>
            <div id="category-item">
                <h4>Dynamic Category 3</h4>
                <img src="~/images/category/category-img3.JPG" alt="Dynamic Category 3">
            </div>
            <div id="category-item">
                <h4>Dynamic Category 4</h4>
                <img src="~/images/category/category-img-4.JPG" alt="Dynamic Category 4">
            </div>
        </div>
    </section>
</div>

<!-- Recommended ========================================================== -->

<div class="container">
    <section id="section-recommended">
        <h3>Recommended Fragrances</h3>
        <hr />
        <div class="product-list">
            <div id="recommended-item">
                <img src="~/images/category/category-img-4.JPG">
                <h4>Dynamic Item 1</h4>
                <p class="fragrance-brand">By Dynamic Item Brand</p>
            </div>
            <div id="recommended-item">
                <img src="~/images/category/category-img-4.JPG">
                <h4>Dynamic Item 2</h4>
                <p class="fragrance-brand">By Dynamic Item Brand</p>
            </div>
            <div id="recommended-item">
                <img src="~/images/category/category-img-4.JPG">
                <h4>Dynamic Item 3</h4>
                <p class="fragrance-brand">By Dynamic Item Brand</p>
            </div>
        </div>
    </section>
</div>

<script src="~/js/site.js" asp-append-version="true" defer></script>
