@{
    ViewData["Title"] = "Home";
}

<!-- Special Message ====================================================== -->

<section id="section-banner">
    <div class="container">
        <h2>Have you seen these amazing deals?</h2>
        <p>Treat yourself to one of these luxurious discounts with unbeatable value.</p>
    </div>
</section>

<!-- Categories  ========================================================== -->

<section id="category-list">
    <div class="container">
        <h3>Categories</h3>
        <div id="category-flex">
            <div id="category-item">
                <h4>Womens</h4>
                <img src="~/images/category/category-img-4.JPG" alt="...">
            </div>

            <div id="category-item">
                <h4>Mens</h4>
                <img src="~/images/category/category-img3.JPG" alt="...">
            </div>

            <div id="category-item">
                <h4>All Brands</h4>
                <img src="~/images/category/category-img3.JPG" alt="...">
            </div>

            <div id="category-item">
                <h4>Best Sellers</h4>
                <img src="~/images/category/category-img-4.JPG" alt="...">
            </div>
        </div>
    </div>
</section>

<!-- Recommended ========================================================== -->

<section id="section-suggested">
    <div class="container">
        <h3>Recommended Fragrances</h3>
        <div id="category-flex">
            <div id="fragrance-item">
                <img src="~/images/category/category-img-4.JPG">
                <p class="fragrance-title">1 million</p>
                <p class="fragrance-brand">By Paco Rabanne</p>
            </div>
            <div id="fragrance-item">
                <img src="~/images/category/category-img-4.JPG">
                <p class="fragrance-title">Chrome</p>
                <p class="fragrance-brand">By Azzaro</p>
            </div>
            <div id="fragrance-item">
                <img src="~/images/category/category-img-4.JPG">
                <p class="fragrance-title">Lolita Lempicka</p>
                <p class="fragrance-brand">By Lolita Lempicka</p>
            </div>
            <div id="fragrance-item">
                <img src="~/images/category/category-img-4.JPG">
                <p class="fragrance-title">Montblanc Legend</p>
                <p class="fragrance-brand"> By Mont Blanc</p>
            </div>
        </div>
    </div>
</section>

<script src="~/js/site.js" asp-append-version="true" defer></script>
