@{
    ViewData["Title"] = "Choose a new password";
}

@model SDP.ViewModels.PasswordChange

<section id="section-cms">
    <div class="container">
        <section class="cms-area">
            <h2>@ViewData["Title"]</h2>
            <h3>@Model.Email</h3>

            <form method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="token" value=@Model.token>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class=" row mb-4">
                    <div class="col-6">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" id="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="ReenterPassword" class="form-label"></label>
                        <input asp-for="ReenterPassword" class="form-control" />
                        <span asp-validation-for="ReenterPassword" id="confirm-password"></span>
                    </div>
                </div>
                <button class="btn btn-warning" type="submit">Change Password</button>

            </form>
        </section>
    </div>
</section>
