@model SDP.ViewModels.PasswordChange

<section>
    <div class="container">
        <form class="form-small" method="post">
            @Html.AntiForgeryToken()
            <h3>Change Password</h3>
            <input type="hidden" asp-for="token"  value=@Model.token >
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" id="username" value=@Model.Email disabled/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" id="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReenterPassword"></label>
                <input asp-for="ReenterPassword" class="form-control" />
                <span asp-validation-for="ReenterPassword" id="confirm-password"></span>
            </div>
            <button class="btn-big sdp-style" type="submit">Sign me up!</button>

        </form>
    </div>
</section>
