<div class="email-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 email-contents">
                <h1 class="confirm-email-title">Confirm Email</h1>
                <div class="email-message">
                    <p>A code will be sent to your email address for verification</p>
                </div>
                <form method="post" class="form-email">
                    <!--<input type="email" placeholder="Email Address" id="confirm-email" />-->
                    <button class="button-confirm-email">Re-Send Verification Code</button>
                </form>
            </div>
        </div>
    </div>

</div>