@{
    ViewData["Title"] = "Please verify your email address";
}
<div class="container">
    <section id="section-banner">
        <h2>@ViewData["Title"]</h2>
        <p>We have sent you an email to verify your email address.</p>
        <p>Please check your inbox and click on the link provided to complete the verification process.</p>
    </section>
    <form method="post" class="form-email">
        <!--<input type="email" placeholder="Email Address" id="confirm-email" />-->
        <button class="sdp-style">Proceed to Login</button>
    </form>
</div>