
<div class="email-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 email-contents">
                <h1 class="confirm-email-title">Your Email has been verified!</h1>
                <div class="email-message">
                    <p>Your account has now been verified with us.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
