@{
    ViewData["Title"] = "Your email address has been verified";
}
<div class="container">
    <section id="section-banner">
        <h2>>@ViewData["Title"]</h2>
        <p>Thank-you for verifying your email address.</p>
        <p>Your should now able to sign into your account.</p>
    </section>
</div>
