@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <section id="section-banner">
        <h2>Existing customer</h2>
        <p>There is already an account registered with this email</p>
        <p>Please Login instead.</p>
    </section>
</div>
