@{
    ViewData["Title"] = "Log in";
}

@model SDP.ViewModels.LoginView
<!-- Login Form =========================================================== -->

<section id="section-banner">
    <div class="container">
        <h2>User Log in</h2>
        <p>Please sign in below to continue.</p>
    </div>
</section>
<section>
    <div class="container">
        <form method="post" class="form-small">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" id="username" maxlength=100>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" id="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
            </div>

            <button class="btn-big sdp-style" type="submit">Log In</button>
            <small><a asp-action="PasswordChange" asp-controller="Account">I have forgotten my password..</a></small>
        </form>
    </div>
</section>
