@{
    ViewData["Title"] = "Change Password";
}

<h3>@ViewData["Msg"]</h3>

<label> Please enter your E-mail</label>
<form method="post">
    <input type="email" name="Email" maxlength=100 required="required" />
    <button type="submit"> Change my password</button>
</form>
