@{
    ViewData["Title"] = "Payment Error";
}

<div class="container">
    <section id="section-banner">
        <h2>@ViewData["Title"]</h2>
        <p>There has been a problem processing payment for your order.</p>
        <p>Please check that your payment details are correct and try again. If you are still having difficulties, please don't hesitate to get in touch.</p>
    </section>
</div>
