@{
    ViewData["Title"] = "Thank-you";
}
@model int

<div class="container">
    <section id="section-banner">
        <h2>@ViewData["Title"]</h2>
        <p>Thank-you for choosing to shop with SD Perfumery. Your payment has been successful and you will recieve a copy of your invoice in your email shortly.</p>
        <p>Invoice number: <span>@Model</span></p>
    </section>
</div>