<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div class="form-group">
                    <label>Brand</label>
                    <input required="required" class="form-control" />
                    <span></span>
                </div>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
