<div class="container">
    <h1>Edit Brand</h1>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div class="form-group">
                    <label class="brand-label">Brand</label>
                    <input required="required" class="form-control" />
                    <span></span>
                </div>
                <button type="submit" class="sdp-style category-button">Edit</button>
            </form>
        </div>
    </div>
</div>