<div class="container">
    <h1>Edit Category</h1>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div class="form-group">
                    <label class="category-label">Category</label>
                    <input required="required" class="form-control" />
                    <span></span>
                </div>
                <div class="form-group">
                    <label class="category-label">Img Url</label>
                    <div class="custom-file">
                        <div class="form-text mt-0 mb-2">Upload PNG / JPG image format.</div>
                        <input required="required" type="file" class="form-control custom-file-input" name="ufile" maxlength="2048" />
                        <div class="custom-file-label form-text">Choose Image File...</div>
                    </div>
                    <span></span>
                </div>
                <div class="form-group">
                    <label class="category-label">Text</label>
                    <input required="required" class="form-control" />
                    <span></span>
                </div>
                <button type="submit" class="sdp-style category-button">Edit</button>
            </form>
        </div>
    </div>
</div>