@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Create";
}
@model SDPWeb.ViewModels.CheckoutView
<div class="delivery_form">


    <input asp-for="key.publicKey" value="@Model.key.publicKey" type="hidden" />
    <input asp-for="key.descirption"  value="@Model.key.descirption" type="hidden" />
    <input asp-for="key.currency" value="@Model.key.currency" type="hidden" />

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key=@Model.key.publicKey
            data-amount=@Model.amount
            data-name="SD-Perfumery"
            data-description=@Model.key.descirption
            data-image="/images/SD-logo.PNG"
            data-email="@Model.key.email"
            data-locale="en"
            data-zip-code="true"
            data-label="Pay with card using stripe">
    </script>
</div>

<style>
    .delivery_form button {
        color: white;
        border: none;
        width: 100%;
        margin: 10px 0px 10px 0px;
        cursor: pointer;
    }
</style>