@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Sign Up Form ========================================================= -->

<section id="section-banner">
    <div class="container">
        <h2>Sign up for exclusive deals</h2>
        <p>Join us and take advantage of our enhanced experience for regular customers.</p>
    </div>
</section>
<section>
    <div class="container">
        <form class="form-small">
            <h3>Sign Up</h3>
            <label for="username">Email</label>
            <input type="email" id="username">

            <label for="password">Password</label>
            <input type="password" id="password">

            <label for="confirm-password">Re-type Password</label>
            <input type="password" id="confirm-password">

            <button class="btn-big">Sign me up!</button>
            <small><a href="#">I already have an account..</a></small>
        </form>
    </div>
</section>
