@{
    ViewData["Title"] = "All Products";
}
@model SDP.ViewModels.Catalog

<!-- ============================================== Product Display ====================================================== -->

<section id="section-product-list">
    <div class="container product_con">
        <h2>@ViewData["Title"]</h2>
        <div class="sort">
            <select class="sdp-style" onchange="sortBy(this);">
                <option>View By</option>
                <option value="priceL-H">Price: Highest to Lowest</option>
                <option value="priceH-L">Price: Lowest to Highest</option>
                <option value="nameA-Z">Product Name: A - Z</option>
                <option value="nameZ-A">Product Name: Z - A</option>
            </select>
        </div>

        @using (Html.BeginForm("ProductDisplay", "Product"))
        {
            <div class="row rowone flex-box" id="product-list"></div>
        }

        @* These may be better displayed as links? Buttons currently do not indicate current page. *@
        @using (Html.BeginForm("Index", "Product"))
        {
            <div class="page-numbers">
                @for (int i = 0; i < Model.totalPage; i++)
                {
                    int pageNum = i + 1;
                    <button class="sdp-style" type="submit" name="pageNumber" value=@i> @pageNum </button>
                }
            </div>
        }
    </div>
</section>
<section id="section-suggested">
    <div class="container">
        <h3>Recommended Fragrances</h3>
    </div>
</section>
<script>
var productDbJson = @Html.Raw(Json.Serialize(Model.products.ToList()));
console.log(productDbJson)
</script>
<script src="~/js/product.js" asp-append-version="true"></script>
<script src="~/js/sort.js" asp-append-version="true"></script>
