@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SDP.ViewModels.Catalog
<!--Product Display ===============================================-->
<div class="container product_con">
    <div class="title">

        <h1>SD Perfumery</h1>
        <div class="sort">
            <select onchange="sortBy(this);">
                <option>Sort By</option>
                <option value="priceH-L">High-Low</option>
                <option value="priceL-H">Low-High</option>
                <option value="nameA-Z">A-Z </option>
                <option value="nameZ-A">Z-A</option>
            </select>
        </div>
    </div>

    @using (Html.BeginForm("ProductDisplay", "Product")) 
    {
        <div class="row rowone flex-box" id="rowone"></div>
    }
   @* <form method="post" asp-controller="Products" asp-action="Products/" >
        <div class="row rowone flex-box" id="rowone"></div>
    </form>*@

</div>
<script>
    var productDbJson = @Html.Raw(Json.Serialize(Model.products.ToList()));
    console.log(productDbJson)
</script>
<script src="~/js/product.js" asp-append-version="true"></script>
<script src="~/js/sort.js" asp-append-version="true"></script>
