
@{
    string iD = (string)ViewData["ProductID"];
    SDP.Models.Product product = SDP.Services.ViewService.getProductFromDB(iD); ;

}

<!-- Duplicate <head> removed (redundant) -->

<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="~/imgs/@product.imgUrl" alt="..." style="height: 100%; width: 100%;">
        </div>
        <div class="col-4">
            <h3>@product.title by @product.brand @product.packageQty ml </h3>
            <div class="space"></div>
            <span class="price-text">Price</span><span class="price-val">@product.price LKR</span>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sit architecto vitae fuga iure enim blanditiis officia doloribus, natus eligendi, impedit eum. Earum, beatae. Beatae, error. Magnam culpa ut ratione.
                Temporibus error, aliquam inventore aspernatur hic velit placeat harum quod possimus nam labore sit cupiditate corrupti, porro earum incidunt! Expedita veritatis quo reiciendis esse hic vitae rerum temporibus sequi similique.
            </p>
            <form method="post" asp-controller="Product" asp-action="AddToCart">
                <span class="quan-text">Quantity</span><input name="quantity" type="number" value=1>
                <div>
                    <button type="submit">Add ToCart</button>
                </div>
            </form>
        </div>
    </div>
</div>