@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="flex-shrink-0 p-3 bg-white" style="width: 18rem;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#cms-users-collapse"
                    aria-expanded="true">
                User Management
            </button>
            <div class="collapse show" id="cms-users-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>Manage Roles</li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#cms-products-collapse"
                    aria-expanded="true">
                Products
            </button>
            <div class="collapse show" id="cms-products-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="link-dark rounded" asp-controller="Product" asp-action="AddProduct">Add Product</a></li>
                    <li><a class="link-dark rounded" asp-controller="Inventory" asp-action="Index">Edit Products</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>