<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SD Perfumery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /><!-- Bootstrap *may* need to be upgraded to 5.1.0 -->
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <span id="header-cta">
                    <span class="material-icons">phone_iphone</span>
                    <a href="tel:001 284 227">Call us on 001-284-227</a>
                </span>
                <ul>
                    <li><a asp-area="" asp-controller="Product" asp-action="Index">Shop</a></li>
                    <li><a asp-area="" asp-controller="" asp-action="">About Us</a></li>
                    <li><a asp-area="" asp-controller="" asp-action="">Contact Us</a></li>
                    <li><a asp-controller="Auth" asp-action="Index">Login</a></li>
                    <li>
                        <a asp-controller="Cart" asp-action="Index">
                            <span class="material-icons">shopping_cart</span>
                            (3)
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="header-brand">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <h1>SD Perfumery</h1>
                </a>
                <form id="header-search">
                    <!-- Onclick attribute in the search button below has been
                         copied from Product-Index view. Remove if unecessary
                         (should probably function site wide and be implemented
                         as a listener). -->
                    <input type="search" /><button id="btnSearch" onclick='setList(JSON.parse())'>Search</button>
                </form>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <ul class="ul-links-social">
                <li><a href="#"><img src="~/imgs/social-facebook-24px.svg" alt="SD Perfumery on Facebook" /></a></li>
                <li><a href="#"><img src="~/imgs/social-instagram-24px.svg" alt="SD Perfumery on Instagram" /></a></li>
            </ul>
            <ul class="ul-links-onsite">
                <li><a href="#">Home</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Returns</a></li>
            </ul>
            <ul class="ul-links-onsite">
                <li><a href="#">Site Map</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
            </ul>
            <ul class="ul-fine-print">
                <li><small>Copyright &copy;2021 sdperfumery.lk - All rights reserved.</small></li>
                <li><small><em>Last updated 08/08/2021.</em></small></li>
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*   <script src="~/js/site.js" asp-append-version="true"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>