@using SDPCore.Models.AccountModel
@using Microsoft.SDP.SDPCore.Interface
@using Microsoft.AspNetCore.Http
@using SDPWeb.ViewModels
@inject IDbRepo _dbRepo
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model SDPWeb.ViewModels.CheckoutView

@{
    string customerEmail = "";
    string placeHolderEmail = customerEmail == "" ? "Email Address" : customerEmail;
    if (HttpContextAccessor.HttpContext.Session.GetString("LoggedIN") == "true")
    {
        var customer = await _dbRepo.getCustomerAsync(HttpContextAccessor.HttpContext.Session.GetString("Id"));
        customerEmail = customer.Email;
    }
    Guid guid = Guid.NewGuid();
}
<div class="container">
    <section id="section-banner">

    </section>

    <section id="section-address">
        <h3>Delivery Address</h3>

        <form asp-action="Payment" asp-controller="Payment" method="POST">
            <input type="hidden" asp-for="delivery.deliveryId" value="@guid " />
            <input type="hidden" asp-for="amount" value="@Model.amount">

            <div class="row mb-4">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            @* Fields 'firstName' and 'lastName' grouped in one row. *@
            <div class="row mb-4">
                <div class="col-md-6 col-sm-12 mb-3">
                    <label asp-for="delivery.firstName" class="form-label">First Name</label>
                    <div class="input-group">
                        <div class="input-group-text"><i class="bi bi-person"></i></div>
                        <input type="text" asp-for="delivery.firstName" id="fname" class="form-control" placeholder="First Name">
                    </div>
                    <span asp-validation-for="delivery.firstName" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label asp-for="delivery.lastName" class="form-label">Last Name</label>
                    <input type="text" asp-for="delivery.lastName" id="fname" class="form-control" placeholder="Last Name">
                    <span asp-validation-for="delivery.lastName" class="text-danger"></span>
                </div>
            </div>

            @* Fields 'email' and 'phone' grouped into one row. *@
            <div class="row mb-4">
                <div class="col-md-6 col-sm-12 mb-3">
                    <label asp-for="delivery.email" class="form-label">Email</label>
                    <div class="input-group">
                        <div class="input-group-text"><i class="bi bi-envelope"></i></div>
                        <input type="email" asp-for=delivery.email id="email" class="form-control" placeholder="@placeHolderEmail" value="@customerEmail">
                    </div>
                    <span asp-validation-for="delivery.email" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label asp-for="delivery.phone" class="form-label">Phone Number</label>
                    <div class="input-group">
                        <div class="input-group-text"><i class="bi bi-telephone"></i></div>
                        <input type="number" id="phone" class="form-control" maxlength="12" asp-for="delivery.phone" placeholder="Phone Number">
                    </div>
                    <span asp-validation-for="delivery.phone" class="text-danger"></span>
                </div>
            </div>

            @* Fields 'addressLine1' and 'addressLine2' on one row each. *@
            <div class="row mb-3">
                <div class="col-12 mb-3">
                    <label asp-for="delivery.addressLine1" class="form-label">Address</label>
                    <div class="input-group">
                        <div class="input-group-text"><i class="bi bi-geo-alt"></i></div>
                        <input type="text" id="address-1" class="form-control" asp-for="delivery.addressLine1 " placeholder="Address Line 1">
                    </div>
                    <span asp-validation-for="delivery.addressLine1 " class="text-danger"></span>
                </div>
                <div class="col-12">
                    <input type="text" id="address-2" class="form-control" asp-for="delivery.addressLine2" placeholder="Address Line 2">
                    <span asp-validation-for="delivery.addressLine2" class="text-danger"></span>
                </div>
            </div>

            @* Fields 'suburb' and 'state' and 'country' grouped in one row. *@
            <div class="row mb-4">
                <div class="col-md-4 col-sm-12 mb-3">
                    <label asp-for="delivery.suburb" class="form-label">Suburb</label>
                    <input type="text" id="city" class="form-control" asp-for="delivery.suburb" placeholder="Suburb">
                    <span asp-validation-for="delivery.suburb" class="text-danger"></span>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label asp-for="delivery.state" class="form-label">State</label>
                    <input type="text" id="state" class="form-control" asp-for="delivery.state" placeholder="State">
                    <span asp-validation-for="delivery.state" class="text-danger"></span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <label asp-for="delivery.country" class="form-label">Country</label>
                    <input type="text" id="Country" class="form-control" asp-for="delivery.country" placeholder="Country">
                    <span asp-validation-for="delivery.country" class="text-danger"></span>
                </div>
            </div>

            @* Postcode removed at client request *@
            @*
        <div class="col-50">
            <label asp-for="delivery.postCode">Postcode</label>
            <input type="text" id=">Postcode" asp-for="delivery.postCode" placeholder="3000">
            <span asp-validation-for="delivery.postCode" class="text-danger"></span>
        </div>
            *@

            @await Html.PartialAsync("~/Views/Partials/PaymentPartial.cshtml", new CheckoutView { key = new Key("pk_test_51JlMhVBxws1IZQJgbiaytkXHv77Q4SRWC3vSTaVsEZAbo2vSCOSLzdgbXx6cULFTdfeEm4k72wsR8bTKEXED0vGb00bdtUZmao", "payment", Model.amount, "LKR", customerEmail) })
        </form>
    </section>
</div>
