@model SDPWeb.ViewModels.CheckoutView
@using SDPWeb.ViewModels
@using Microsoft.SDP.SDPCore.Interface
@using Microsoft.AspNetCore.Http
@using SDPCore.Models.AccountModel
@inject IDbRepo _dbRepo

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{

    string customerEmail = "";
    string placeHolderEmail = customerEmail == "" ? "Email Address" : customerEmail;
    if (HttpContextAccessor.HttpContext.Session.GetString("LoggedIN") == "true")
    {
        var customer = await _dbRepo.getCustomerAsync(HttpContextAccessor.HttpContext.Session.GetString("Id"));
        customerEmail = customer.Email;
    }
    Guid guid = Guid.NewGuid();
}

<form asp-action="Checkout" asp-controller="Cart" method="POST">
    <input type="text" name="Json" value="@ViewData["Json"]" />
    @await Html.PartialAsync("~/Views/Partials/PaymentPartial.cshtml", Model)
</form>

   